.PlayerStatuses {
	border-bottom: 1px solid white;
	border-top: 1px solid white;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 0;
	padding: 10px 0 5px 0;
}
.PlayerStatuses > div {
  margin-right: 10px;
}