/* This could be helpful to have visible in prod, just in case... */
.firebase-emulator-warning {
  display: none;
}

html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--brand-color: #673ab8;
	--border-color: yellow;
	--orange: rgb(255, 189, 127);
}

* {
	box-sizing: border-box;
}

button { cursor: pointer; }

fieldset {
	border: none;
}

#app {
	align-items: center;
  background-color: var(--brand-color);
  color: #fff;
	display: flex;
	flex-direction: column;
	height: 100vh;
  font-size: 1.5em;
	overflow-y: hidden;
	overflow-x: hidden;
	width: 100vw;
	--top-nav-height: 45px;
}

.link {
  color: #fff;
}
a {
	color: white;
}
a:hover {
	color: yellow;
}

.Auth {
	display: flex;
	flex-direction: column;
}
.Auth > h2 {
	align-self: center;
}
.Auth > input {
	border-radius: 26px;
	font-size: 16pt;
	padding: 10px;
	margin: 5px 0;
}
.Auth > button {
	background-color: aquamarine;
	border: none;
	border-radius: 30px;
	font-size: 16pt;
	padding: 10px;
}
.Auth > button:hover {
	background-color: aqua;
}

.TopNav {
	align-items: center;
	background: white;
	color: #673ab8;
	display: flex;
	flex-direction: row;
	flex-shrink: 0;
	font-size: 12pt;
	height: var(--top-nav-height);
	padding: 2px;
	width: 100%;
}
.TopNav > * {
	align-items: center;
	border-right: 1px solid var(--brand-color);
	display: flex;
	height: 100%;
	padding: 0 5px;
}
.TopNav > a {
	color: #673ab8;
	text-decoration: none;
}
.TopNav > a:hover {
	text-decoration: underline;
}
.TopNav > .TopNav--active {
	color: #3ab875;
	font-weight: 600;
	text-decoration: underline;
}

.GameContainer {
	display: flex;
	flex-direction: column;
	padding: 10px;
	height: 100%;
	max-width: min(100%, 600px);
}

/* Seriously need to make a single consistent Button class */
.GameSelection-GameList > button {
	background-color: aquamarine;
	border: none;
	font-size: 16pt;
	padding: 10px;
	margin: 10px;
}
.GameSelection-GameList > button:hover {
	background-color: aqua;
}
.GameSelection-GameList > button.GameSelection-FreeTier {
	background-color: aquamarine;
}
.GameSelection-GameList > button.GameSelection-FreeTier:hover {
	background-color: aqua;
}
.GameSelection-GameList > button.GameSelection-PaidTier {
	background-color: var(--orange);
}
.GameSelection-GameList > button.GameSelection-PaidTier:hover {
	background-color: yellow;
}
.GameSelection-Join > input {
	--font-size: 16pt;
	border-radius: 26px;
	font-size: var(--font-size);
	padding: 10px;
	margin: 10px;
	text-align: center;
	text-transform: uppercase;
	width: calc(4 * var(--font-size) + 10px);
}
.GameSelection-Join {
	border: none;
	border-radius: 30px;
	font-size: 16pt;
	min-width: 80px;
	padding: 10px;
}

.YoutubeEmbed {
	aspect-ratio: 16/9;
	width: 100%;
}

.Prompt-Hero {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.Prompt-Hero input {
	border: none;
	border-radius: 30px;
	font-size: 16pt;
	margin: 20px;
	max-width: 600px;
	padding: 10px;
	width: 100%;
}
.Prompt-Hero button {
	background-color: white;
	border: none;
	border-radius: 30px;
	box-shadow: none;
	font-size: 16pt;
	padding: 10px 20px;
}

.HasUserText {
	/* Without a min-width this can stretch its container. */
	min-width: 1%;
	overflow-wrap: break-word;
}

.PromptGuessGeneration-Image {
	max-width: min(512px, 100%);
}
.PromptGuessGeneration-Truth {
	color: yellow;
	font-weight: 600;
}
.PromptGuessGeneration-Text {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	white-space:pre-wrap;
	width: min(512px, 100%);
}

.PromptGuessBase-LieChoices {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.PromptGuessBase-LieChoices > button {
	font-size: 16pt;
	padding: 10px;
	margin-bottom: 5px;
	max-width: 100%;
}
.PromptGuessBase-LieChoices > button.Picked {
	color:rgb(122, 255, 110);
}

.PromptGuessLobby > button, .PromptGuessBase-Scoreboard > button {
	background-color: aquamarine;
	border: none;
	border-radius: 30px;
	font-size: 16pt;
	padding: 10px;
}
.PromptGuessLobby > button:hover, .PromptGuessBase-Scoreboard > button:hover {
	background-color: aqua;
}

.PromptGuessBase-Score {
	align-items: center;
	border-bottom: 1px dashed var(--border-color);
	display: flex;
	flex-direction: row;
	padding: 5px 0;
	position: relative;
}
.PromptGuessBase-Score.Truth::after {
	color: rgb(122, 255, 110);
	content: "Truth!";
	font-size: 10pt;
	font-weight: 600;
	left: -15px;
	position: absolute;
	top: 0px;
	transform: rotate(-45deg);
}
.PromptGuessBase-Score.Lie > * {
	opacity: .5;
}
.PromptGuessBase-ScoreCreator {
	margin-right: 10px;
}
.PromptGuessBase-ScorePrompt {
	flex-grow: 1;
	margin-right: 10px;
}
.PromptGuessBase-Leaderboard {
	margin-bottom: 20px;
}
.PromptGuessBase-LeaderboardScore {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 5px 0;
	padding: 5px 0;
}
.PromptGuessBase-LeaderboardRank {
	margin-right: 10px;
}
.PromptGuessBase-LeaderboardScore > img {
	margin-right: 5px;
}

.GameList {
	padding: 0 20px;
}
.GameList a {
	color: white;
}
.GameList a:hover {
	color: yellow;
}
.GameList-Game {
	align-items: center;
	display: flex;
	flex-direction: row;
	position: relative;
}
.GameList-Name {
	flex-grow: 1;
}
.GameList-Date {
	padding: 0 10px;
	width: 100px;
}
.GameList--HasUpdate::after {
	background-color: white;
	border: 5px solid red;
	border-radius: 50%;
	content: '';
	height: 5px;
	position: absolute;
	left: -20px;
	top: calc(50% - 5px);
	width: 5px;
}

.Support {
	display: flex;
	flex-direction: column;
	max-width: 600px;
	padding: 10px 10px 30px 10px;
}
.Support p, h1, h2, h3 {
	margin: 0;
	padding: 10px 0;
}
.Support td {
	border-bottom: 1px solid white;
	margin: 0;
	padding: 3px;
}
.Support-PriceTable button {
	background-color: yellow;
	border: none;
	border-radius: calc(14px + 2*10px);
	font-size: 14pt;
	padding: 10px;
}
.Support-PriceTable button:hover {
	background-color: var(--orange);
}
.Support-PriceTable select {
	background-color: white;
	border: none;
	border-radius: calc(14px + 2*10px);
	cursor: pointer;
	font-size: 14pt;
	margin-right: 10px;
	padding: 10px 5px;
	text-align: center;
}
.Support-PriceTable select:hover {
	background-color: yellow;
}