html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #444;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	--brand-color: #673ab8;
	--border-color: yellow;
}

* {
	box-sizing: border-box;
}

button { cursor: pointer; }

fieldset {
	border: none;
}

#app {
	align-items: center;
	bottom: 0;
	display: flex;
	flex-direction: column;
	left: 0;
  position: absolute;
	right: 0;
	top: 0;
  background-color: #673ab8;
  color: #fff;
  font-size: 1.5em;
	overflow-y: scroll;
	overflow-x: hidden;
}

.link {
  color: #fff;
}


.TopNav {
	background: white;
	color: #673ab8;
	display: flex;
	flex-direction: row;
	font-size: 12pt;
	padding: 2px;
	width: 100%;
}

.GameContainer{
	padding: 10px;
	max-width: min(100%, 600px);
}

.GameSelection-Join input {
	text-transform: uppercase;
}

.Prompt-Hero {
	align-items: center;
	display: flex;
	flex-direction: column;
}
.Prompt-Hero input {
	border: none;
	border-radius: 30px;
	font-size: 16pt;
	margin: 20px;
	max-width: 600px;
	padding: 10px;
	width: 100%;
}
.Prompt-Hero button {
	background-color: white;
	border: none;
	border-radius: 30px;
	box-shadow: none;
	font-size: 16pt;
	padding: 10px 20px;
}

.HasUserText {
	overflow-wrap: break-word;
}

.PromptGuessGeneration-Image {
	max-width: min(512px, 100%);
}
.PromptGuessGeneration-Truth {
	color: yellow;
	font-weight: 600;
}
.PromptGuessGeneration-Text {
	display: flex;
	justify-content: center;
	margin: 20px 0;
	white-space:pre-wrap;
	width: min(512px, 100%);
}

.PromptGuessBase-LieChoices {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}
.PromptGuessBase-LieChoices > button {
	font-size: 16pt;
	padding: 10px;
	margin-bottom: 5px;
	max-width: 100%;
}
.PromptGuessBase-LieChoices > button.Picked {
	color:rgb(122, 255, 110);
}

.PromptGuessLobby > button, .PromptGuessBase-Scoreboard > button {
	background-color: aquamarine;
	border: none;
	border-radius: 30px;
	font-size: 16pt;
	padding: 10px;
}
.PromptGuessLobby > button:hover, .PromptGuessBase-Scoreboard > button:hover {
	background-color: aqua;
}

.Avatar {
	border-radius: 50%;
}
.Avatar.Selected {
	opacity: .5;
}
.Avatar.Waiting {
	border: 3px solid rgb(122, 255, 110);
}

.PlayerStatuses {
	border-bottom: 1px solid var(--border-color);
	border-top: 1px solid var(--border-color);
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 10px 0;
}
.PlayerStatuses-Item {
	align-items: center;
	display: flex;
	flex-direction: column;
	margin: 5px 5px;
}
.PlayerStatus-Handle {
	font-size: 9pt;
	max-width: 90px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
}

.PromptGuessBase-Score {
	align-items: center;
	border-bottom: 1px dashed var(--border-color);
	display: flex;
	flex-direction: row;
	padding: 5px 0;
	position: relative;
}
.PromptGuessBase-Score.Truth::after {
	color: rgb(122, 255, 110);
	content: "Truth!";
	font-size: 10pt;
	font-weight: 600;
	left: -15px;
	position: absolute;
	top: 0px;
	transform: rotate(-45deg);
}
.PromptGuessBase-Score.Lie > * {
	opacity: .5;
}
.PromptGuessBase-ScoreCreator {
	margin-right: 10px;
}
.PromptGuessBase-ScorePrompt {
	flex-grow: 1;
	margin-right: 10px;
}
.PromptGuessBase-Leaderboard {
	margin-bottom: 20px;
}
.PromptGuessBase-LeaderboardScore {
	align-items: center;
	display: flex;
	flex-direction: row;
	margin: 5px 0;
	padding: 5px 0;
}
.PromptGuessBase-LeaderboardRank {
	margin-right: 10px;
}
.PromptGuessBase-LeaderboardScore > img {
	margin-right: 5px;
}