.Room {
	display: flex;
  max-width: 100%;
  width:  min(100%, 2000px);
  overflow-y: scroll;
}
.Room-Pane {
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1000px) {
  .Room {
  	flex-direction: column;
  }
}

@media (min-width: 1001px) {
  .Room {
  	flex-direction: row;
    overflow: hidden;
  }
  .Room-Pane {
    height: 100%;
    overflow-y: scroll;
    width: 50%;
  }
}


